doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Custom Objects
    a(href='/update-cobj') Add to this table
    table
      thead
        tr
          th Name
          th Last Name
          th Email
      tbody
        each object in objects
          tr
            td= object.properties.name
            td= object.properties.nfs
            td= object.properties.nfs2

